# Imports

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

#pd.set_option('display.float_format', lambda x: '%.f' % x)

# Carregar os dados do csv

In [2]:
df_raw = pd.read_csv('data/AB_NYC_2019.csv',low_memory=False)
df_raw.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [3]:
df_raw.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [4]:
table_coluns = [[ 'id', 'id do imóvel'],
                ['name', 'Descrição do Imóvel' ],
                ['host_id','Id do proprietário'],
                ['host_name','Nome do Proprietário'],
                ['neighbourhood_group','Região'],
                ['neighbourhood','Bairro'],
                ['latitude','latitute'],
                ['longitude','longitude'],
                ['room_type', "Categoria"],
                ['price','Preço'],
                ['minimum_nights','Mínimo de Locação'],
                ['number_of_reviews','Número de Locação/comentarios'],
                ['last_review','Última Locação'],
                ['reviews_per_month','Locações por mês'],
                ['calculated_host_listings_count','Pode ser numero de imoveis do host '],
                ['availability_365', 'Disponibilidade']
            ]

print(tabulate(table_coluns))

------------------------------  ----------------------------------
id                              id do imóvel
name                            Descrição do Imóvel
host_id                         Id do proprietário
host_name                       Nome do Proprietário
neighbourhood_group             Região
neighbourhood                   Bairro
latitude                        latitute
longitude                       longitude
room_type                       Categoria
price                           Preço
minimum_nights                  Mínimo de Locação
number_of_reviews               Número de Locação/comentarios
last_review                     Última Locação
reviews_per_month               Locações por mês
calculated_host_listings_count  Pode ser numero de imoveis do host
availability_365                Disponibilidade
------------------------------  ----------------------------------

In [5]:
df_raw.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [6]:
df_raw.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [7]:
df = df_raw.copy()
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [8]:
df['last_review'] = pd.to_datetime( df['last_review'], dayfirst=True )

In [9]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [10]:
#name
df['name'] = df[['name','id']].apply( lambda x : x['id'] if pd.isnull( x['name'] ) else x['name'], axis=1 )

# host_name
df['host_name'] = df[['host_name','host_id']].apply( lambda x : x['host_id'] if pd.isnull( x['host_name'] ) else x['host_name'], axis=1 )

# last_review
df['last_review'] = df[['last_review','number_of_reviews']].apply( lambda x : pd.to_datetime('01-01-2013') if x['number_of_reviews'] == 0 else x['last_review'] , axis=1 )

# reviews_per_month
df['reviews_per_month'] = df[['reviews_per_month','number_of_reviews']].apply( lambda x : 0 if x['number_of_reviews'] == 0 else x['reviews_per_month'], axis=1 )

In [11]:
df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [12]:
df.shape

(48895, 16)

In [13]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.090910,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.597283,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.040000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.370000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,1.580000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

# Problema de Negócio - Respondendo.

## 1. Qual o `id` do imóvel com o aluguel (diária) mais caro da base de dados?

In [14]:
df[['id','price']].sort_values('price', ascending=False)

             id  price
9151    7003697  10000
17692  13894339  10000
29238  22436899  10000
40433  31340283   9999
12342   9528920   9999
...         ...    ...
25778  20624541      0
25796  20639914      0
25433  20333471      0
26841  21291569      0
25795  20639792      0

[48895 rows x 2 columns]

## 2. Qual o `id` do imóvel com o aluguel (diária) mais barato da base de dados?

In [15]:
# resposta 1620248 

df2 = df.loc[ df['price'] > 0 ]
df2 = df2.loc[ df2['price'] == df2['price'].min() ]
df2.head().sort_values('price')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2860,1620248,Large furnished 2 bedrooms- - 30 days Minimum,2196224,Sally,Manhattan,East Village,40.73051,-73.98140,Entire home/apt,10,30,0,2013-01-01,0.00,4,137
21700,17437106,Couch in Harlem Harvey Refugees only,33511962,Morgan,Manhattan,Harlem,40.81302,-73.95349,Shared room,10,1,0,2013-01-01,0.00,1,0
22261,17952277,"Newly renovated, fully furnished room in Brooklyn",62685070,Katie,Brooklyn,Bushwick,40.69974,-73.91935,Private room,10,5,0,2013-01-01,0.00,1,0
22287,17979764,Jen Apt,84497333,Jennifer,Manhattan,SoHo,40.72237,-73.99817,Private room,10,5,2,2017-04-15,0.07,1,0
22835,18490141,IT'S SIMPLY CONVENIENT!,97001292,Maria,Queens,Jamaica,40.69085,-73.79916,Entire home/apt,10,1,43,2019-06-12,1.68,1,252

## 3. Qual o `id` do imóvel que foi mais locado da base de dados?

In [16]:
df[['id','number_of_reviews']].sort_values('number_of_reviews', ascending=False )

             id  number_of_reviews
11759   9145202                629
2031     903972                607
2030     903947                597
2015     891117                594
13495  10101135                576
...         ...                ...
12724   9746225                  0
12721   9740386                  0
12717   9739888                  0
12716   9738605                  0
48894  36487245                  0

[48895 rows x 2 columns]

## 4. Qual o `id` do imóvel que ficou mais tempo com o anúncio disponível, em dias, para locação na base de dados?

In [17]:
df[['id','availability_365']].sort_values('availability_365', ascending=False)

             id  availability_365
0          2539               365
11591   9024549               365
41757  32467835               365
41747  32466179               365
41742  32463948               365
...         ...               ...
18649  14756990                 0
18650  14757774                 0
18651  14759511                 0
18654  14759888                 0
24447  19677284                 0

[48895 rows x 2 columns]

## 5. Qual o `id` do imóvel que ficou menos tempo com o anúncio disponível, em dias, para locação na base de dados?

In [18]:
# Resposta  5022
#df5 = df.loc[ df['availability_365'] == df['availability_365'].min() ]

df.head().sort_values( 'availability_365' )

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2013-01-01,0.00,1,365

## 6. O imóvel com o maior valor de aluguel (diária) da base de dados é o imóvel que possui mais avaliações na base de dados?

In [19]:
df_price_max = df[['id','price']].sort_values('price',ascending=False).reset_index(drop=True).loc[0,'id']
df_aval_max = df[['id','number_of_reviews']].sort_values('number_of_reviews',ascending=False).reset_index(drop=True).loc[0,'id']

print(f'O Imóvel com maior diária é ', df_price_max )
print(f'O Imóvel com melhor avaliação é ', df_aval_max )

O Imóvel com maior diária é  7003697
O Imóvel com melhor avaliação é  9145202

## 7. O imóvel que possui a menor quantidade mínima de diárias para locação é também o imóvel que possui o aluguel mais caro?

In [20]:
df_min_night = df[['id','minimum_nights']].sort_values('minimum_nights',ascending=True).reset_index(drop=True).loc[0,'id']
df_price_max = df[['id','price']].sort_values('price',ascending=False).reset_index(drop=True).loc[0,'id']

print(f'O Imóvel com menor quantidade de diária é ', df_min_night )
print(f'O Imóvel com maior diária é ', df_price_max )

O Imóvel com menor quantidade de diária é  2539
O Imóvel com maior diária é  7003697

## 8. Qual é a média de diárias mínimas para locação de um imóvel?

In [21]:
# Resposta 7.03

#df8 = df.loc[df['minimum_nights'] == df['minimum_nights'].min() ]
#df8['']

## 9. Qual é o `id` do imóvel com a quantidade mínima de diárias para locação da base de dados?

In [22]:
df[['id','minimum_nights']].sort_values('minimum_nights',ascending=True)

             id  minimum_nights
0          2539               1
16078  12990578               1
16090  13001082               1
16096  13006002               1
16099  13007839               1
...         ...             ...
13404  10053943             999
26341  20990053             999
38664  30378211             999
2854    1615764            1000
5767    4204302            1250

[48895 rows x 2 columns]

## 10.Qual é o `id` do host que possui o imóvel mais alugado na base de dados?

In [23]:
df[['host_id','number_of_reviews']].sort_values('number_of_reviews', ascending=False).reset_index(drop=True)

        host_id  number_of_reviews
0      47621202                629
1       4734398                607
2       4734398                597
3       4734398                594
4      47621202                576
...         ...                ...
48890  14005489                  0
48891  50255130                  0
48892  50252837                  0
48893  50054847                  0
48894  68119814                  0

[48895 rows x 2 columns]

## 11. Qual é o `id` do host que possui o imóvel menos alugado na base de dado

In [24]:
# resposta 82685 
df11 = df.loc[ df['number_of_reviews'] > 0 ]
df11 = df11.loc[ df11['number_of_reviews'] == df11['number_of_reviews'].min() ]

df11[['host_id','number_of_reviews']].head().sort_values('number_of_reviews', ascending=True)

     host_id  number_of_reviews
97     82685                  1
143   140025                  1
229   204539                  1
237   249372                  1
272     7310                  1

In [25]:
df.loc[  df['host_id'] == 82685 ]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
97,21644,"Upper Manhattan, New York",82685,Elliott,Manhattan,Harlem,40.82803,-73.94731,Private room,89,1,1,2018-10-09,0.11,1,365

## 12.Qual é o `id` do host que possui o imóvel com mais avaliações na base de dados?

In [26]:
df[['host_id','number_of_reviews']].sort_values('number_of_reviews',ascending=False)

        host_id  number_of_reviews
11759  47621202                629
2031    4734398                607
2030    4734398                597
2015    4734398                594
13495  47621202                576
...         ...                ...
12724  14005489                  0
12721  50255130                  0
12717  50252837                  0
12716  50054847                  0
48894  68119814                  0

[48895 rows x 2 columns]

## 13.Qual é o `id` do host que possui a maior quantidade de imóveis cadastrados na base de dados?

In [27]:
df[['id','host_id']].groupby('host_id').count().sort_values('id', ascending=False )

            id
host_id
219517861  327
107434423  232
30283594   121
137358866  103
16098958    96
...        ...
13540183     1
13538150     1
13535952     1
13533446     1
274321313    1

[37457 rows x 1 columns]

## 14.Qual o `id` do host que possui o imóvel com a última avaliação feita na base de dados?

In [28]:
# Resposta 526653 
df['last_review'].head().max()

Timestamp('2019-07-05 00:00:00')

In [29]:

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2013-01-01,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## 15.Qual o `id` do host que possui mais imóveis ativos dentro da base de dados?

In [30]:
#Resposta 219517861 
df_ativos = df[df['number_of_reviews'] > 0 ]

df_ativos[['host_id','number_of_reviews']].groupby('host_id').sum().sort_values('number_of_reviews', ascending=False ).reset_index()

         host_id  number_of_reviews
0       37312959               2273
1         344035               2205
2       26432133               2017
3       35524316               1971
4       40176101               1818
...          ...                ...
30246   25376759                  1
30247   25394253                  1
30248  170413197                  1
30249   25475028                  1
30250       2438                  1

[30251 rows x 2 columns]

## 16.O host que possui mais imóveis é o host que também possui mais avaliações?

In [31]:
max_host_imovel = df[['host_id','id']].groupby('host_id').sum().sort_values('id',ascending=False).reset_index().loc[0,'host_id']
max_host_aval = df[['host_id','number_of_reviews']].groupby('host_id').sum().sort_values('number_of_reviews',ascending=False).reset_index().loc[0,'host_id']

print( max_host_imovel)
print( max_host_aval )

219517861
37312959

## 17.Qual é a categoria que mais possui imóveis dentro da base de dados?

In [32]:
df[['id','room_type',]].groupby('room_type').count().sort_values('id',ascending= False).reset_index()

         room_type     id
0  Entire home/apt  25409
1     Private room  22326
2      Shared room   1160

## 18.Qual é a categoria que menos possui imóveis dentro da base de dados?

In [33]:
df[['id','room_type',]].groupby('room_type').count().sort_values('id',ascending= True).reset_index()

         room_type     id
0      Shared room   1160
1     Private room  22326
2  Entire home/apt  25409

## 19.A região de Manhattan é a região que mais possui imóveis ativos para locação, da categoria `Private room`?

In [34]:
df_ativos = df[df['number_of_reviews'] > 0 ]
df_ativos[['neighbourhood_group','number_of_reviews']].groupby('neighbourhood_group').sum().sort_values('number_of_reviews', ascending=False).reset_index()

  neighbourhood_group  number_of_reviews
0            Brooklyn             486574
1           Manhattan             454569
2              Queens             156950
3               Bronx              28371
4       Staten Island              11541

## 20.Qual a categoria de imóvel que possui a maior média de tempo de disponibilidade para serem locados da região do `Bronx`? Considere somente imóveis ativos

In [35]:
# Corrigido 
df_bronx = df.loc[ ( df['number_of_reviews'] > 0 ) & (df['neighbourhood_group'] == 'Bronx')] 
df_bronx[['room_type','availability_365']].groupby('room_type').mean().sort_values( 'availability_365', ascending=False)

                 availability_365
room_type
Private room           173.635496
Entire home/apt        168.391586
Shared room            156.418605

## 21.Qual a categoria de imóvel ativo que possui o maior valor de aluguel (diária) na região de `Manhattan`?

In [36]:
df_manhattan = df.loc[  ( df['number_of_reviews'] > 0 ) & (df['neighbourhood_group'] == 'Manhattan') ]
df_manhattan[['room_type','price']].groupby('room_type').sum().reset_index()

         room_type    price
0  Entire home/apt  2294312
1     Private room   672560
2      Shared room    27761

## 22.A categoria de imóvel `Private Room` é a categoria que fica mais tempo disponível para locação?

In [37]:
df[['room_type','availability_365']].groupby('room_type').sum().reset_index()

         room_type  availability_365
0  Entire home/apt           2843783
1     Private room           2482739
2      Shared room            187921

## 23.Qual a categoria de imóvel que fica mais tempo disponível, na média, para locação?

In [38]:
#Corrigido
df[['room_type','availability_365']].groupby('room_type').mean().sort_values('availability_365',ascending=False)

                 availability_365
room_type
Shared room            162.000862
Entire home/apt        111.920304
Private room           111.203933

## 24. A categoria de imóvel que fica menos tempo disponível, na média, para locação é a categoria que possui, em média, o menor aluguel (diária)?

In [39]:
df[['room_type','availability_365','price']].groupby('room_type').mean().reset_index()

         room_type  availability_365       price
0  Entire home/apt        111.920304  211.794246
1     Private room        111.203933   89.780973
2      Shared room        162.000862   70.127586

## 25. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média, o maior valor de aluguel?

In [40]:
df[['room_type','availability_365','price']].groupby('room_type').mean().sort_values('price',ascending=False).reset_index()

         room_type  availability_365       price
0  Entire home/apt        111.920304  211.794246
1     Private room        111.203933   89.780973
2      Shared room        162.000862   70.127586

## 26. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média, menos locações?

In [41]:
df[['room_type','number_of_reviews']].groupby('room_type').mean().sort_values('number_of_reviews',ascending=False).reset_index()

         room_type  number_of_reviews
0     Private room          24.112962
1  Entire home/apt          22.842418
2      Shared room          16.600000

##  27.A categoria de imóvel `Private Room` na região de `Manhattan`, na média, é a categoria que possui o menor valor (diária) de locação, comparado as outras categorias na mesma região?

In [42]:
df_manhattan = df.loc[df['neighbourhood_group'] == 'Manhattan']
df_manhattan[['room_type','price']].groupby('room_type').mean().reset_index()

         room_type       price
0  Entire home/apt  249.239109
1     Private room  116.776622
2      Shared room   88.977083

## 28. Qual a região que possui a maior quantidade de imóveis?

In [43]:
df[['neighbourhood_group','id']].groupby('neighbourhood_group').count().sort_values('id',ascending=False).reset_index()

  neighbourhood_group     id
0           Manhattan  21661
1            Brooklyn  20104
2              Queens   5666
3               Bronx   1091
4       Staten Island    373

## 29. Qual a região que possui a menor quantidade de imóveis?

In [44]:
df[['neighbourhood_group','id']].groupby('neighbourhood_group').count().sort_values('id',ascending=True).reset_index()

  neighbourhood_group     id
0       Staten Island    373
1               Bronx   1091
2              Queens   5666
3            Brooklyn  20104
4           Manhattan  21661

## 30.A região que possui a maior quantidade de imóveis é também a região que possui os imóveis mais locados?

In [45]:
df1 = df[['neighbourhood_group','id']].groupby('neighbourhood_group').count().sort_values('id',ascending=False).reset_index()
df2 = df[['neighbourhood_group','number_of_reviews']].groupby('neighbourhood_group').sum().sort_values('number_of_reviews',ascending=False).reset_index()
df_merge = pd.merge( df1, df2 )
df_merge

  neighbourhood_group     id  number_of_reviews
0           Manhattan  21661             454569
1            Brooklyn  20104             486574
2              Queens   5666             156950
3               Bronx   1091              28371
4       Staten Island    373              11541

## 31.Qual a região que possui a menor quantidade de imóveis locados dentro da base de dados?

In [46]:
# Resposta o MENOR 
df2

  neighbourhood_group  number_of_reviews
0            Brooklyn             486574
1           Manhattan             454569
2              Queens             156950
3               Bronx              28371
4       Staten Island              11541

## 32.A região de `Manhattan` é a região que possui, na média, os maiores aluguéis (diárias) dentro da base de dados?

In [47]:
df[['neighbourhood_group','price']].groupby('neighbourhood_group').mean().sort_values('price',ascending=False).reset_index()

  neighbourhood_group       price
0           Manhattan  196.875814
1            Brooklyn  124.383207
2       Staten Island  114.812332
3              Queens   99.517649
4               Bronx   87.496792

## 33.A região de `Queens` é a região que possui, na média, os menores aluguéis (diárias) dentro da base de dados?

In [48]:
df[['neighbourhood_group','price']].groupby('neighbourhood_group').mean().sort_values('price',ascending=True).reset_index()

  neighbourhood_group       price
0               Bronx   87.496792
1              Queens   99.517649
2       Staten Island  114.812332
3            Brooklyn  124.383207
4           Manhattan  196.875814

## 34.Qual a região que possui, na média, os imóveis com os menores aluguéis dentro da base de dados?

In [49]:
df[['neighbourhood_group','price']].groupby('neighbourhood_group').mean().sort_values('price',ascending=True).reset_index()

  neighbourhood_group       price
0               Bronx   87.496792
1              Queens   99.517649
2       Staten Island  114.812332
3            Brooklyn  124.383207
4           Manhattan  196.875814

## 35.Qual a região que possui os imóveis que ficam, na média, menos tempo disponíveis para aluguel? Ou seja, são alugados mais rápidos na média?

In [50]:
df[['neighbourhood_group','availability_365']].groupby('neighbourhood_group').mean().sort_values('availability_365',ascending=True).reset_index()

  neighbourhood_group  availability_365
0            Brooklyn        100.232292
1           Manhattan        111.979410
2              Queens        144.451818
3               Bronx        165.758937
4       Staten Island        199.678284

## 36.Qual o bairro possui a maior quantidade de imóveis ativos para locação?

In [51]:
df_bairro = df.loc[ (df['number_of_reviews'] > 0) & (df['price'] > 0) ]
df_bairro[['neighbourhood','number_of_reviews']].groupby('neighbourhood').count().sort_values('number_of_reviews',ascending=False).reset_index()

          neighbourhood  number_of_reviews
0          Williamsburg               3162
1    Bedford-Stuyvesant               3137
2                Harlem               2206
3              Bushwick               1941
4        Hell's Kitchen               1532
..                  ...                ...
213         Castle Hill                  2
214          West Farms                  2
215        Richmondtown                  1
216           Rossville                  1
217         Willowbrook                  1

[218 rows x 2 columns]

## 37.Qual o bairro possui a menor quantidade de imóveis ativos para locação?

In [52]:
# Resposta 'Silver Lake'
# df_bairro = df.loc[ (df['number_of_reviews'] > 0) & (df['price'] > 0 )]
# df[['neighbourhood','id']].groupby('neighbourhood').count().sort_values('id',ascending=True)


#df.loc[df['neighbourhood'] == 'Silver Lake']

df[['neighbourhood','calculated_host_listings_count']].groupby('neighbourhood').count().sort_values('calculated_host_listings_count',ascending=True)

                    calculated_host_listings_count
neighbourhood
Rossville                                        1
Richmondtown                                     1
Fort Wadsworth                                   1
Willowbrook                                      1
New Dorp                                         1
...                                            ...
Upper West Side                               1971
Bushwick                                      2465
Harlem                                        2658
Bedford-Stuyvesant                            3714
Williamsburg                                  3920

[221 rows x 1 columns]

## 38.Qual o bairro, e de qual região é esse bairro, que possui o imovel com o maior valor de aluguel?

In [53]:
df_bairro[['neighbourhood','neighbourhood_group','price']].sort_values('price',ascending=False)

         neighbourhood neighbourhood_group  price
9151           Astoria              Queens  10000
17692       Greenpoint            Brooklyn  10000
6530       East Harlem           Manhattan   9999
12342  Lower East Side           Manhattan   9999
30268          Tribeca           Manhattan   8500
...                ...                 ...    ...
22835          Jamaica              Queens     10
22287             SoHo           Manhattan     10
31407         Kips Bay           Manhattan     10
31066  Upper West Side           Manhattan     10
24100   Hell's Kitchen           Manhattan     10

[38833 rows x 3 columns]

## 39.Qual o bairro, e de qual região é esse bairro, que possui o imovel com o menor valor de aluguel?

In [54]:
# Resposta  East Village
df[['neighbourhood','neighbourhood_group','price']].sort_values('price',ascending=True)

            neighbourhood neighbourhood_group  price
25796  Bedford-Stuyvesant            Brooklyn      0
25634            Bushwick            Brooklyn      0
25433     East Morrisania               Bronx      0
25753          Greenpoint            Brooklyn      0
23161  Bedford-Stuyvesant            Brooklyn      0
...                   ...                 ...    ...
40433     Lower East Side           Manhattan   9999
12342     Lower East Side           Manhattan   9999
17692          Greenpoint            Brooklyn  10000
9151              Astoria              Queens  10000
29238     Upper West Side           Manhattan  10000

[48895 rows x 3 columns]

## 40.Qual região que possui o bairro com mais imóveis ativos disponíveis para locação?

In [55]:
df_bairro[['neighbourhood_group','neighbourhood','number_of_reviews']].groupby(['neighbourhood_group','neighbourhood',]).count().sort_values('number_of_reviews',ascending=False)

                                        number_of_reviews
neighbourhood_group neighbourhood
Brooklyn            Williamsburg                     3162
                    Bedford-Stuyvesant               3137
Manhattan           Harlem                           2206
Brooklyn            Bushwick                         1941
Manhattan           Hell's Kitchen                   1532
...                                                   ...
Staten Island       Howland Hook                        2
Queens              Breezy Point                        2
Staten Island       Rossville                           1
                    Richmondtown                        1
                    Willowbrook                         1

[218 rows x 1 columns]

## 41.Qual região que possui o bairro com menos imóveis ativos disponíveis para locação?

In [56]:
df_bairro[['neighbourhood_group','neighbourhood','number_of_reviews']].groupby(['neighbourhood_group','neighbourhood',]).count().sort_values('number_of_reviews',ascending=True)

                                        number_of_reviews
neighbourhood_group neighbourhood
Staten Island       Willowbrook                         1
                    Rossville                           1
                    Richmondtown                        1
                    Westerleigh                         2
                    Eltingville                         2
...                                                   ...
Manhattan           Hell's Kitchen                   1532
Brooklyn            Bushwick                         1941
Manhattan           Harlem                           2206
Brooklyn            Bedford-Stuyvesant               3137
                    Williamsburg                     3162

[218 rows x 1 columns]

## 42.O Bairro `Upper West Side`, na região de `Manhattan`, é o bairro que possui, na média, o maior aluguel dentro da base de dados?

In [57]:
df_manhattan = df.loc[ df['neighbourhood_group'] == 'Manhattan']
df_manhattan[['price','neighbourhood']].groupby('neighbourhood').mean().sort_values('price',ascending=False)

                          price
neighbourhood
Tribeca              490.638418
Battery Park City    367.557143
Flatiron District    341.925000
NoHo                 295.717949
SoHo                 287.103352
Midtown              282.719094
West Village         267.682292
Greenwich Village    263.405612
Chelsea              249.738544
Theater District     248.013889
Nolita               230.138340
Financial District   225.490591
Gramercy             222.754438
Little Italy         222.066116
Murray Hill          220.958763
Upper West Side      210.918316
Hell's Kitchen       204.794178
Kips Bay             202.408511
Civic Center         191.942308
Upper East Side      188.948276
Lower East Side      186.312843
East Village         186.083108
Stuyvesant Town      169.108108
Chinatown            161.497283
East Harlem          133.198747
Two Bridges          127.069444
Harlem               118.974041
Morningside Heights  114.783237
Roosevelt Island     113.259740
Washington Heights    89.610679
Marble Hill           89.166667
Inwood                88.896825

## 43.Qual é o bairro que possui, na média, o aluguel mais caro da base de dados?

In [58]:
df[['price','neighbourhood']].groupby('neighbourhood').mean().sort_values('price',ascending=False)

                     price
neighbourhood
Fort Wadsworth  800.000000
Woodrow         700.000000
Tribeca         490.638418
Sea Gate        487.857143
Riverdale       442.090909
...                    ...
New Dorp         57.000000
Soundview        53.466667
Tremont          51.545455
Hunts Point      50.500000
Bull's Head      47.333333

[221 rows x 1 columns]

## 44.Qual o melhor bairro para se adquirir um imóvel, visando o maior valor de aluguel, quantidade de revisões feitas ao longo do tempo e quantidade de revisões mensais? Utilize a seguinte fórmula para verificar qual o melhor imóvel:

𝑟𝑒𝑛𝑡𝑎𝑏𝑖𝑙𝑖𝑑𝑎𝑑𝑒 = ( 𝑝𝑟𝑖𝑐𝑒 * (𝑚𝑖𝑛𝑖𝑚𝑢𝑚_𝑛𝑖𝑔ℎ𝑡𝑠 + 1) * 𝑛𝑢𝑚𝑏𝑒𝑟_𝑜𝑓_𝑟𝑒𝑣𝑖𝑒𝑤𝑠 ) / 𝑎𝑣𝑎𝑖𝑙𝑎𝑏𝑖𝑙𝑖𝑡𝑦_365

In [59]:
df_novo = df.loc[ (df['number_of_reviews'] > 0)  & (df['price'] > 0) & (df['availability_365'] > 0)]
df_novo['rentabilidade'] = ( df_novo['price'] * (( df_novo['minimum_nights'] + 1 ) * df_novo['number_of_reviews'] )) / np.sqrt(df_novo['availability_365'])
df_novo.sort_values('rentabilidade',ascending=False).reset_index().head()

/tmp/ipykernel_3551/1393305282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_novo['rentabilidade'] = ( df_novo['price'] * (( df_novo['minimum_nights'] + 1 ) * df_novo['number_of_reviews'] )) / np.sqrt(df_novo['availability_365'])

,index,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rentabilidade
0,3605,2154075,"Brooklyn Charm, Close to Manhattan (30+ Days O...",10992588,Joni,Brooklyn,Bedford-Stuyvesant,40.68640,-73.94529,Entire home/apt,112,200,314,2019-06-20,4.82,2,42,1.090735e+06
1,6375,4644632,"Brooklyn Life, Easy to Manhattan (30+ Days only)",10992588,Joni,Brooklyn,Bedford-Stuyvesant,40.68797,-73.94696,Entire home/apt,130,200,271,2019-07-03,4.84,2,64,8.851538e+05
2,12342,9528920,"Quiet, Clean, Lit @ LES & Chinatown",3906464,Amy,Manhattan,Lower East Side,40.71355,-73.98507,Private room,9999,99,6,2016-01-01,0.14,1,83,6.585197e+05
3,9422,7225366,"Spacious, Modern Times Square 3Bdrm *****",9288577,Tina,Manhattan,Chelsea,40.74923,-73.99376,Entire home/apt,450,4,206,2019-07-03,4.24,1,1,4.635000e+05
4,5499,3979611,Located at the heart of Manhattan,19407840,Peng,Manhattan,Roosevelt Island,40.75592,-73.95515,Entire home/apt,1400,90,31,2015-12-03,0.53,1,88,4.210075e+05

## 45.Qual a região em que fica o melhor bairro para se adquirir um imóvel, visando a melhor rentabilidade média? Utilize como métrica o índice criado na questão anterior.

In [60]:
df_novo[['rentabilidade','neighbourhood_group','neighbourhood']].groupby(['neighbourhood_group','neighbourhood']).mean().sort_values('rentabilidade',ascending=False)

                                       rentabilidade
neighbourhood_group neighbourhood
Manhattan           Roosevelt Island    14897.288433
                    Nolita               7499.068618
                    Tribeca              7120.669828
                    Greenwich Village    6139.157036
                    Chelsea              6064.488392
...                                              ...
Staten Island       Port Richmond         142.422744
Queens              Breezy Point           87.051252
Bronx               West Farms             73.942433
Queens              Little Neck            56.392666
Staten Island       Oakwood                32.544242

[217 rows x 1 columns]

## 46.Qual a região em que fica o pior bairro para se adquirir um imóvel, visando a melhor rentabilidade média?  Utilize como métrica o índice criado na questão 44.

In [61]:
df_novo[['rentabilidade','neighbourhood_group','neighbourhood']].groupby(['neighbourhood_group','neighbourhood']).mean().sort_values('rentabilidade',ascending=True)

                                       rentabilidade
neighbourhood_group neighbourhood
Staten Island       Oakwood                32.544242
Queens              Little Neck            56.392666
Bronx               West Farms             73.942433
Queens              Breezy Point           87.051252
Staten Island       Port Richmond         142.422744
...                                              ...
Manhattan           Chelsea              6064.488392
                    Greenwich Village    6139.157036
                    Tribeca              7120.669828
                    Nolita               7499.068618
                    Roosevelt Island    14897.288433

[217 rows x 1 columns]

## 47.Levando em conta o bairro encontrado na questão anterior, verifique qual é o `id` do imóvel ativo que possui a pior rentabilidade desse bairro

In [62]:
df_novo.loc[ (df_novo['neighbourhood_group'] == 'Staten Island' ) & ( df_novo['neighbourhood'] == 'Oakwood' )].sort_values( 'rentabilidade',ascending=True).reset_index()

,index,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rentabilidade
0,44777,34396747,Double Room,95570540,Eileen,Staten Island,Oakwood,40.55908,-74.11992,Private room,65,1,1,2019-06-14,1.00,3,364,6.813851
1,44583,34312163,Queen Room,95570540,Eileen,Staten Island,Oakwood,40.56033,-74.11953,Private room,65,1,1,2019-06-28,1.00,3,179,9.716656
2,44703,34368051,Home Away from Home,95570540,Eileen,Staten Island,Oakwood,40.56054,-74.12004,Entire home/apt,130,1,1,2019-06-26,1.00,3,363,13.646461
3,19899,15949915,"Quiet, Private 3.5 rooms, Manhattan convenient",103545877,Jon,Staten Island,Oakwood,40.56233,-74.12673,Entire home/apt,100,2,2,2017-01-30,0.06,1,36,100.000000

## 48.Levando em conta o bairro encontrado na questão 45, verifique qual o id do imóvel ativo que possui a melhor rentabilidade desse bairro

In [63]:
df_novo.loc[ df_novo['neighbourhood'] == 'Roosevelt Island' ].sort_values( 'rentabilidade' , ascending=False ).reset_index().head()

,index,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rentabilidade
0,5499,3979611,Located at the heart of Manhattan,19407840,Peng,Manhattan,Roosevelt Island,40.75592,-73.95515,Entire home/apt,1400,90,31,2015-12-03,0.53,1,88,421007.454587
1,2617,1367775,Furnished room with private bathroom,7419960,Marilyn,Manhattan,Roosevelt Island,40.76175,-73.95012,Private room,54,30,5,2018-08-18,0.15,1,2,5918.483759
2,31368,24374428,Quiet two BEDROOM APT in MANHATTAN UPPER EAST ...,183950956,Dante,Manhattan,Roosevelt Island,40.75916,-73.95124,Entire home/apt,220,1,76,2019-06-24,5.30,1,60,4317.085437
3,28055,21913309,One nice room on the Roosevelt Island; 罗岛一间卧室出租,159884558,Lily,Manhattan,Roosevelt Island,40.76191,-73.94934,Private room,45,25,37,2018-07-01,1.89,1,149,3546.454984
4,9285,7093920,Roosevelt Island Charm,37181980,Svetlana,Manhattan,Roosevelt Island,40.76193,-73.94933,Private room,83,2,178,2019-07-05,3.72,1,255,2775.551303

## 49.Caso eu, investidor, compre o imóvel da questão anterior com um investimento de 1.000.000,00, quantas vezes eu teria que locá-lo para ter o retorno do investimento feito? Utilize a fórmula abaixo para calcular o tempo de retorno do investimento 

𝑟𝑒𝑡𝑢𝑟𝑛_𝑖𝑛𝑣𝑒𝑠𝑡𝑚𝑒𝑛𝑡 =          𝑖𝑛𝑣𝑒𝑠𝑡𝑚𝑒𝑛𝑡  /  𝑝𝑟𝑖𝑐𝑒 * (𝑚𝑖𝑛𝑖𝑚𝑢𝑚_𝑛𝑖𝑔ℎ𝑡𝑠 + 1)

In [64]:
# Contestar 
df_best_invest = df_novo.loc[df_novo['id']  == 3979611 ]
return_investiment = 1000000.00 / ( df_best_invest['price'] * ( df_best_invest['minimum_nights'] + 1))

np.round( return_investiment, 2 )

5499    7.85
dtype: float64

In [65]:
df_best_invest

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rentabilidade
5499,3979611,Located at the heart of Manhattan,19407840,Peng,Manhattan,Roosevelt Island,40.75592,-73.95515,Entire home/apt,1400,90,31,2015-12-03,0.53,1,88,421007.454587

## 50. Se eu desejasse comprar um imóvel que esteja ativo em um dos bairros abaixo, qual seria o `id` do imóvel com a melhor rentabilidade dentre esses bairros? Utilize o índice calculado na questão 44.

In [66]:
# Resposta 5295 
df1 = df_novo.loc[ df_novo['neighbourhood'] == 'East Harlem' ].max()
df2 = df_novo.loc[ df_novo['neighbourhood'] == 'Harlem' ].max()
df3 = df_novo.loc[ df_novo['neighbourhood'] == 'Midtown' ].max()
df4 = df_novo.loc[ df_novo['neighbourhood'] == 'Morningside Heights' ].max()
df5 = df_novo.loc[ df_novo['neighbourhood'] == 'Upper West Side' ].max()
df6 = df_novo.loc[ df_novo['neighbourhood'] == 'Upper East Side' ].max()

df_result = pd.concat([df1, df2, df3, df4, df5, df6], axis=1 ).T

df_result

/tmp/ipykernel_3551/2039570794.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2 = df_novo.loc[ df_novo['neighbourhood'] == 'Harlem' ].max()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rentabilidade
0,36205674,"★ UES | Cozy bedroom near LGA, free coffee & tea!",271432195,Zoila,Manhattan,East Harlem,40.81661,-73.93092,Shared room,1500,32,325,2019-07-07,8.06,103,365,90254.919402
1,36235154,⭐️Harlem getaway w/ great amenities,271029539,NaN,Manhattan,Harlem,40.83378,-73.93512,Shared room,5000,999,607,2019-07-08,9.29,103,365,194435.504191
2,36318560,➖PRIVATE ROOFTOP ➖ LUXURY LIVING IN NEW YORK C...,269585762,Zoie + Chris,Manhattan,Midtown,40.76811,-73.96088,Shared room,5100,365,275,2019-07-07,11.14,232,365,310182.009472
3,35645630,哥伦比亚大学附近步行3分钟高档公寓主卧暑期降价转租,264495166,Wenfei,Manhattan,Morningside Heights,40.81669,-73.95465,Private room,450,31,233,2019-07-07,10.0,12,365,24793.521735
4,36351128,曼哈顿108街转租!,273361532,思铨,Manhattan,Upper West Side,40.80439,-73.95859,Shared room,6000,300,401,2019-07-07,13.13,232,365,191731.296636
5,36425863,안전하고 조용한 숙소,271391063,Zs,Manhattan,Upper East Side,40.78755,-73.94227,Shared room,2300,365,389,2019-07-07,11.25,327,365,239673.704661

In [67]:
df_novo.loc[df_novo['id'] == 5295]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rentabilidade
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6,17526.09911