# Imports

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Carregar os dados do csv

In [2]:
df_raw = pd.read_csv('data/AB_NYC_2019.csv',low_memory=False)
df_raw.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.647,-73.972,Private room,149,1,9,2018-10-19,0.210,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.754,-73.984,Entire home/apt,225,1,45,2019-05-21,0.380,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.809,-73.942,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.685,-73.960,Entire home/apt,89,1,270,2019-07-05,4.640,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.799,-73.944,Entire home/apt,80,10,9,2018-11-19,0.100,1,0

In [3]:
df_raw.loc[ df_raw['name'].isna() ]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2854,1615764,NaN,6676776,Peter,Manhattan,Battery Park City,40.712,-74.016,Entire home/apt,400,1000,0,NaN,NaN,1,362
3703,2232600,NaN,11395220,Anna,Manhattan,East Village,40.732,-73.988,Entire home/apt,200,1,28,2015-06-08,0.450,1,341
5775,4209595,NaN,20700823,Jesse,Manhattan,Greenwich Village,40.735,-73.992,Entire home/apt,225,1,1,2015-01-01,0.020,1,0
5975,4370230,NaN,22686810,Michaël,Manhattan,Nolita,40.720,-73.996,Entire home/apt,215,7,5,2016-01-02,0.090,1,0
6269,4581788,NaN,21600904,Lucie,Brooklyn,Williamsburg,40.714,-73.944,Private room,150,1,0,NaN,NaN,1,0
6567,4756856,NaN,1832442,Carolina,Brooklyn,Bushwick,40.700,-73.928,Private room,70,1,0,NaN,NaN,1,0
6605,4774658,NaN,24625694,Josh,Manhattan,Washington Heights,40.852,-73.931,Private room,40,1,0,NaN,NaN,1,0
8841,6782407,NaN,31147528,Huei-Yin,Brooklyn,Williamsburg,40.714,-73.939,Private room,45,1,0,NaN,NaN,1,0
11963,9325951,NaN,33377685,Jonathan,Manhattan,Hell's Kitchen,40.764,-73.986,Entire home/apt,190,4,1,2016-01-05,0.020,1,0
12824,9787590,NaN,50448556,Miguel,Manhattan,Harlem,40.803,-73.952,Entire home/apt,300,5,0,NaN,NaN,5,0
13059,9885866,NaN,37306329,Juliette,Manhattan,Chinatown,40.716,-73.993,Private room,67,4,0,NaN,NaN,1,0
13401,10052289,NaN,49522403,Vanessa,Brooklyn,Brownsville,40.664,-73.923,Private room,50,3,3,2016-08-18,0.070,1,362
15819,12797684,NaN,69715276,Yan,Manhattan,Upper West Side,40.798,-73.964,Private room,100,1,0,NaN,NaN,2,0
16071,12988898,NaN,71552588,Andrea,Bronx,Fordham,40.860,-73.885,Shared room,130,1,0,NaN,NaN,1,365
18047,14135050,NaN,85288337,Jeff,Brooklyn,Bedford-Stuyvesant,40.694,-73.932,Private room,70,3,0,NaN,NaN,1,0
28889,22275821,NaN,49662398,Kathleen,Brooklyn,Bushwick,40.695,-73.927,Entire home/apt,110,4,5,2018-08-13,0.270,1,0

In [4]:
df_raw.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [5]:
table_coluns = [[ 'id', 'id do imóvel'],
                ['name', 'Descrição do Imóvel' ],
                ['host_id','Id do proprietário'],
                ['host_name','Nome do Proprietário'],
                ['neighbourhood_group','Região'],
                ['neighbourhood','Bairro'],
                ['latitude','latitute'],
                ['longitude','longitude'],
                ['room_type', "Categoria"],
                ['price','Preço'],
                ['minimum_nights','Mínimo de Locação'],
                ['number_of_reviews','Número de Locação/comentarios'],
                ['last_review','Última Locação'],
                ['reviews_per_month','Locações por mês'],
                ['calculated_host_listings_count','Pode ser numero de imoveis do host '],
                ['availability_365', 'Disponibilidade']
            ]

print(tabulate(table_coluns))

------------------------------  ----------------------------------
id                              id do imóvel
name                            Descrição do Imóvel
host_id                         Id do proprietário
host_name                       Nome do Proprietário
neighbourhood_group             Região
neighbourhood                   Bairro
latitude                        latitute
longitude                       longitude
room_type                       Categoria
price                           Preço
minimum_nights                  Mínimo de Locação
number_of_reviews               Número de Locação/comentarios
last_review                     Última Locação
reviews_per_month               Locações por mês
calculated_host_listings_count  Pode ser numero de imoveis do host
availability_365                Disponibilidade
------------------------------  ----------------------------------

In [6]:
df_raw.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [7]:
df_raw.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [8]:
df = df_raw.copy()
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.647,-73.972,Private room,149,1,9,2018-10-19,0.210,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.754,-73.984,Entire home/apt,225,1,45,2019-05-21,0.380,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.809,-73.942,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.685,-73.960,Entire home/apt,89,1,270,2019-07-05,4.640,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.799,-73.944,Entire home/apt,80,10,9,2018-11-19,0.100,1,0

In [9]:
#df['last_review'] = pd.to_datetime( df['last_review'] )
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.647,-73.972,Private room,149,1,9,2018-10-19,0.210,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.754,-73.984,Entire home/apt,225,1,45,2019-05-21,0.380,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.809,-73.942,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.685,-73.960,Entire home/apt,89,1,270,2019-07-05,4.640,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.799,-73.944,Entire home/apt,80,10,9,2018-11-19,0.100,1,0

In [10]:
df['last_review'].sort_values(ascending=True)

317      2011-03-28
163      2011-04-25
330      2011-05-12
125      2011-09-18
143      2011-09-19
            ...
48890           NaN
48891           NaN
48892           NaN
48893           NaN
48894           NaN
Name: last_review, Length: 48895, dtype: object

In [11]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [12]:
#name
df['name'] = df[['name','id']].apply( lambda x : x['id'] if pd.isnull( x['name'] ) else x['name'], axis=1 )

# host_name
df['host_name'] = df[['host_name','host_id']].apply( lambda x : x['host_id'] if pd.isnull( x['host_name'] ) else x['host_name'], axis=1 )

# last_review
df['last_review'] = df[['last_review','number_of_reviews']].apply( lambda x : '2011-03-28' if x['number_of_reviews'] == 0 else x['last_review'], axis=1 )

# reviews_per_month
df['reviews_per_month'] = df[['reviews_per_month','number_of_reviews']].apply( lambda x : '2011-03-28' if x['number_of_reviews'] == 0 else x['reviews_per_month'], axis=1 )

In [13]:
df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [14]:
df.shape

(48895, 16)

In [15]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
count,48895.000,48895.000,48895.000,48895.000,48895.000,48895.000,48895.000,48895.000,48895.000
mean,19017143.236,67620010.647,40.729,-73.952,152.721,7.030,23.274,7.144,112.781
std,10983108.386,78610967.033,0.055,0.046,240.154,20.511,44.551,32.953,131.622
min,2539.000,2438.000,40.500,-74.244,0.000,1.000,0.000,1.000,0.000
25%,9471945.000,7822033.000,40.690,-73.983,69.000,1.000,1.000,1.000,0.000
50%,19677284.000,30793816.000,40.723,-73.956,106.000,3.000,5.000,1.000,45.000
75%,29152178.500,107434423.000,40.763,-73.936,175.000,5.000,24.000,2.000,227.000
max,36487245.000,274321313.000,40.913,-73.713,10000.000,1250.000,629.000,327.000,365.000

# Problema de Negócio - Respondendo.

## 1. Qual o `id` do imóvel com o aluguel (diária) mais caro da base de dados?

In [16]:
df[['id','price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0,'id']

7003697

## 2. Qual o `id` do imóvel com o aluguel (diária) mais barato da base de dados?

In [17]:
# resposta 1620248 
df2 = df.loc[df['price'] > 0 ]

df2.sort_values('price')

#df2.loc[ df2['price'] == 10 ]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
24100,19415314,"Girls only, cozy room one block from Times Square",47336995,Mario,Manhattan,Hell's Kitchen,40.758,-73.989,Shared room,10,1,2,2017-06-24,0.080,1,0
32810,25839759,Gigantic Sunny Room in Park Slope-Private Back...,167570251,Rachel,Brooklyn,Sunset Park,40.662,-73.995,Entire home/apt,10,1,14,2018-10-28,1.060,1,4
33225,26235873,Voted #1 Airbnb In NYC,197169969,Maria,Queens,Jamaica,40.689,-73.799,Entire home/apt,10,2,22,2019-07-06,1.760,1,332
31066,24114389,"Very Spacious bedroom, steps from CENTRAL PARK.",180661875,Salim,Manhattan,Upper West Side,40.768,-73.983,Private room,10,1,2,2018-04-23,0.130,1,0
35601,28270998,"Charming, bright and brand new Bed-Stuy home",647528,Caterina,Brooklyn,Bedford-Stuyvesant,40.695,-73.952,Entire home/apt,10,3,5,2019-07-02,0.510,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40433,31340283,2br - The Heart of NYC: Manhattans Lower East ...,4382127,Matt,Manhattan,Lower East Side,40.720,-73.986,Entire home/apt,9999,30,0,2011-03-28,2011-03-28,1,365
6530,4737930,Spanish Harlem Apt,1235070,Olson,Manhattan,East Harlem,40.793,-73.939,Entire home/apt,9999,5,1,2015-01-02,0.020,1,0
29238,22436899,1-BR Lincoln Center,72390391,Jelena,Manhattan,Upper West Side,40.772,-73.987,Entire home/apt,10000,30,0,2011-03-28,2011-03-28,1,83
9151,7003697,Furnished room in Astoria apartment,20582832,Kathrine,Queens,Astoria,40.768,-73.917,Private room,10000,100,2,2016-02-13,0.040,1,0
17692,13894339,Luxury 1 bedroom apt. -stunning Manhattan views,5143901,Erin,Brooklyn,Greenpoint,40.733,-73.957,Entire home/apt,10000,5,5,2017-07-27,0.160,1,0

In [18]:
df.loc[df['id'] == 1620248 ]
#df.loc[df['id'] == 19415314]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2860,1620248,Large furnished 2 bedrooms- - 30 days Minimum,2196224,Sally,Manhattan,East Village,40.731,-73.981,Entire home/apt,10,30,0,2011-03-28,2011-03-28,4,137

## 3. Qual o `id` do imóvel que foi mais locado da base de dados?

In [19]:
df[['id','number_of_reviews']].sort_values('number_of_reviews', ascending=False ).reset_index( drop=True ).loc[0,'id']

9145202

## 4. Qual o `id` do imóvel que ficou mais tempo com o anúncio disponível, em dias, para locação na base de dados?

In [20]:
df[['id','availability_365']].sort_values('availability_365', ascending=False).reset_index(drop=True).loc[0,['id','availability_365']]

id                  2539
availability_365     365
Name: 0, dtype: int64

## 5. Qual o `id` do imóvel que ficou menos tempo com o anúncio disponível, em dias, para locação na base de dados?

In [21]:
# Resposta  5022
df[['id','availability_365']].sort_values('availability_365', ascending=True).reset_index()

       index        id  availability_365
0      24447  19677284                 0
1      14080  10774325                 0
2      14079  10773150                 0
3      28719  22205765                 0
4      28720  22205780                 0
...      ...       ...               ...
48890  20889  16542864               365
48891  37059  29460026               365
48892  37060  29460203               365
48893   5083   3652230               365
48894      0      2539               365

[48895 rows x 3 columns]

## 6. O imóvel com o maior valor de aluguel (diária) da base de dados é o imóvel que possui mais avaliações na base de dados?

In [22]:
df_price_max = df[['id','price']].sort_values('price',ascending=False).reset_index(drop=True).loc[0,'id']
df_aval_max = df[['id','number_of_reviews']].sort_values('number_of_reviews',ascending=False).reset_index(drop=True).loc[0,'id']

print(f'O Imóvel com maior diária é ', df_price_max )
print(f'O Imóvel com melhor avaliação é ', df_aval_max )

O Imóvel com maior diária é  7003697
O Imóvel com melhor avaliação é  9145202

## 7. O imóvel que possui a menor quantidade mínima de diárias para locação é também o imóvel que possui o aluguel mais caro?

In [23]:
df_min_night = df[['id','minimum_nights']].sort_values('minimum_nights',ascending=True).reset_index(drop=True).loc[0,'id']
df_price_max = df[['id','price']].sort_values('price',ascending=False).reset_index(drop=True).loc[0,'id']

print(f'O Imóvel com menor quantidade de diária é ', df_min_night )
print(f'O Imóvel com maior diária é ', df_price_max )

O Imóvel com menor quantidade de diária é  2539
O Imóvel com maior diária é  7003697

## 8. Qual é a média de diárias mínimas para locação de um imóvel?

In [24]:
# Resposta 7.03
np.round(df_value['price'].mean(),2)

NameError: name 'df_value' is not defined

## 9. Qual é o `id` do imóvel com a quantidade mínima de diárias para locação da base de dados?

In [ ]:
df[['id','minimum_nights']].sort_values('minimum_nights',ascending=False).reset_index()

## 10.Qual é o `id` do host que possui o imóvel mais alugado na base de dados?

In [ ]:
df[['host_id','number_of_reviews']].sort_values('number_of_reviews', ascending=False).reset_index(drop=True)

## 11. Qual é o `id` do host que possui o imóvel menos alugado na base de dado

In [ ]:
# resposta 82685 
df_view = df.loc[ df['number_of_reviews'] > 0 ]
df_view[['host_id','number_of_reviews']].sort_values('number_of_reviews', ascending=True).reset_index(drop=True)

In [ ]:
df.loc[  df['host_id'] == 82685 ]

## 12.Qual é o `id` do host que possui o imóvel com mais avaliações na base de dados?

In [ ]:
df[['host_id','number_of_reviews']].sort_values('number_of_reviews',ascending=False).reset_index(drop=True)

## 13.Qual é o `id` do host que possui a maior quantidade de imóveis cadastrados na base de dados?

In [ ]:
df[['id','host_id']].groupby('host_id').count().sort_values('id', ascending=False ).reset_index()

## 14.Qual o `id` do host que possui o imóvel com a última avaliação feita na base de dados?

In [ ]:
# Resposta 526653 
df[['host_id','last_review']].sort_values('last_review', ascending=False).reset_index(drop=True)

## 15.Qual o `id` do host que possui mais imóveis ativos dentro da base de dados?

In [ ]:
#Resposta 219517861 
df_ativos = df[df['number_of_reviews'] > 0 ]

df_ativos[['host_id','number_of_reviews']].groupby('host_id').sum().sort_values('number_of_reviews', ascending=False ).reset_index()

## 16.O host que possui mais imóveis é o host que também possui mais avaliações?

In [ ]:
max_host_imovel = df[['host_id','id']].groupby('host_id').sum().sort_values('id',ascending=False).reset_index().loc[0,'host_id']
max_host_aval = df[['host_id','number_of_reviews']].groupby('host_id').sum().sort_values('number_of_reviews',ascending=False).reset_index().loc[0,'host_id']

print( max_host_imovel)
print( max_host_aval )

## 17.Qual é a categoria que mais possui imóveis dentro da base de dados?

In [ ]:
df[['id','room_type',]].groupby('room_type').count().sort_values('id',ascending= False).reset_index()

## 18.Qual é a categoria que menos possui imóveis dentro da base de dados?

In [ ]:
df[['id','room_type',]].groupby('room_type').count().sort_values('id',ascending= True).reset_index()

## 19.A região de Manhattan é a região que mais possui imóveis ativos para locação, da categoria `Private room`?

In [ ]:
df_ativos = df[df['number_of_reviews'] > 0 ]
df_ativos[['neighbourhood_group','number_of_reviews']].groupby('neighbourhood_group').sum().sort_values('number_of_reviews', ascending=False).reset_index()

## 20.Qual a categoria de imóvel que possui a maior média de tempo de disponibilidade para serem locados da região do `Bronx`? Considere somente imóveis ativos

In [ ]:
# Corrigido 
df_bronx = df.loc[ ( df['number_of_reviews'] > 0 ) & (df['neighbourhood_group'] == 'Bronx')] 
df_bronx[['room_type','availability_365']].groupby('room_type').mean().sort_values( 'availability_365', ascending=False)

## 21.Qual a categoria de imóvel ativo que possui o maior valor de aluguel (diária) na região de `Manhattan`?

In [ ]:
df_manhattan = df.loc[  ( df['number_of_reviews'] > 0 ) & (df['neighbourhood_group'] == 'Manhattan') ]
df_manhattan[['room_type','price']].groupby('room_type').sum().reset_index()

## 22.A categoria de imóvel `Private Room` é a categoria que fica mais tempo disponível para locação?

In [ ]:
df[['room_type','availability_365']].groupby('room_type').sum().reset_index()

## 23.Qual a categoria de imóvel que fica mais tempo disponível, na média, para locação?

In [ ]:
#Corrigido
df[['room_type','availability_365']].groupby('room_type').mean().sort_values('availability_365',ascending=False)

## 24. A categoria de imóvel que fica menos tempo disponível, na média, para locação é a categoria que possui, em média, o menor aluguel (diária)?

In [ ]:
df[['room_type','availability_365','price']].groupby('room_type').mean().reset_index()

## 25. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média, o maior valor de aluguel?

In [ ]:
df[['room_type','availability_365','price']].groupby('room_type').mean().sort_values('price',ascending=False).reset_index()

## 26. A categoria de imóvel `Entire home/apt` é a categoria que possui, na média, menos locações?

In [ ]:
df[['room_type','number_of_reviews']].groupby('room_type').mean().sort_values('number_of_reviews',ascending=False).reset_index()

##  27.A categoria de imóvel `Private Room` na região de `Manhattan`, na média, é a categoria que possui o menor valor (diária) de locação, comparado as outras categorias na mesma região?

In [ ]:
df_manhattan = df.loc[df['neighbourhood_group'] == 'Manhattan']
df_manhattan[['room_type','price']].groupby('room_type').mean().reset_index()

## 28. Qual a região que possui a maior quantidade de imóveis?

In [ ]:
df[['neighbourhood_group','id']].groupby('neighbourhood_group').count().sort_values('id',ascending=False).reset_index()

## 29. Qual a região que possui a menor quantidade de imóveis?

In [ ]:
df[['neighbourhood_group','id']].groupby('neighbourhood_group').count().sort_values('id',ascending=True).reset_index()

## 30.A região que possui a maior quantidade de imóveis é também a região que possui os imóveis mais locados?

In [ ]:
df1 = df[['neighbourhood_group','id']].groupby('neighbourhood_group').count().sort_values('id',ascending=False).reset_index()
df2 = df[['neighbourhood_group','number_of_reviews']].groupby('neighbourhood_group').sum().sort_values('number_of_reviews',ascending=False).reset_index()
df_merge = pd.merge( df1, df2 )
df_merge

## 31.Qual a região que possui a menor quantidade de imóveis locados dentro da base de dados?

In [ ]:
# Resposta o MENOR 
df2

## 32.A região de `Manhattan` é a região que possui, na média, os maiores aluguéis (diárias) dentro da base de dados?

In [ ]:
df[['neighbourhood_group','price']].groupby('neighbourhood_group').mean().sort_values('price',ascending=False).reset_index()

## 33.A região de `Queens` é a região que possui, na média, os menores aluguéis (diárias) dentro da base de dados?

In [ ]:
df[['neighbourhood_group','price']].groupby('neighbourhood_group').mean().sort_values('price',ascending=True).reset_index()

## 34.Qual a região que possui, na média, os imóveis com os menores aluguéis dentro da base de dados?

In [ ]:
df[['neighbourhood_group','price']].groupby('neighbourhood_group').mean().sort_values('price',ascending=True).reset_index()

## 35.Qual a região que possui os imóveis que ficam, na média, menos tempo disponíveis para aluguel? Ou seja, são alugados mais rápidos na média?

In [ ]:
df[['neighbourhood_group','availability_365']].groupby('neighbourhood_group').mean().sort_values('availability_365',ascending=True).reset_index()

## 36.Qual o bairro possui a maior quantidade de imóveis ativos para locação?

In [ ]:
df_bairro = df.loc[ (df['number_of_reviews'] > 0) & (df['price'] > 0) ]
df_bairro[['neighbourhood','number_of_reviews']].groupby('neighbourhood').count().sort_values('number_of_reviews',ascending=False).reset_index()

## 37.Qual o bairro possui a menor quantidade de imóveis ativos para locação?

In [ ]:
# Resposta 'Silver Lake'
# df_bairro = df.loc[ (df['number_of_reviews'] > 0) & (df['price'] > 0 )]
# df[['neighbourhood','id']].groupby('neighbourhood').count().sort_values('id',ascending=True)


#df.loc[df['neighbourhood'] == 'Silver Lake']

df[['neighbourhood','calculated_host_listings_count']].groupby('neighbourhood').count().sort_values('calculated_host_listings_count',ascending=True)

## 38.Qual o bairro, e de qual região é esse bairro, que possui o imovel com o maior valor de aluguel?

In [ ]:
df_bairro[['neighbourhood','neighbourhood_group','price']].sort_values('price',ascending=False)

## 39.Qual o bairro, e de qual região é esse bairro, que possui o imovel com o menor valor de aluguel?

In [ ]:
# Resposta  East Village
df[['neighbourhood','neighbourhood_group','price']].sort_values('price',ascending=True)

## 40.Qual região que possui o bairro com mais imóveis ativos disponíveis para locação?

In [ ]:
df_bairro[['neighbourhood_group','neighbourhood','number_of_reviews']].groupby(['neighbourhood_group','neighbourhood',]).count().sort_values('number_of_reviews',ascending=False)

## 41.Qual região que possui o bairro com menos imóveis ativos disponíveis para locação?

In [ ]:
df_bairro[['neighbourhood_group','neighbourhood','number_of_reviews']].groupby(['neighbourhood_group','neighbourhood',]).count().sort_values('number_of_reviews',ascending=True)

## 42.O Bairro `Upper West Side`, na região de `Manhattan`, é o bairro que possui, na média, o maior aluguel dentro da base de dados?

In [ ]:
df_manhattan = df.loc[ df['neighbourhood_group'] == 'Manhattan']
df_manhattan[['price','neighbourhood']].groupby('neighbourhood').mean().sort_values('price',ascending=False)

## 43.Qual é o bairro que possui, na média, o aluguel mais caro da base de dados?

In [ ]:
df[['price','neighbourhood']].groupby('neighbourhood').mean().sort_values('price',ascending=False)

## 44.Qual o melhor bairro para se adquirir um imóvel, visando o maior valor de aluguel, quantidade de revisões feitas ao longo do tempo e quantidade de revisões mensais? Utilize a seguinte fórmula para verificar qual o melhor imóvel:

𝑟𝑒𝑛𝑡𝑎𝑏𝑖𝑙𝑖𝑑𝑎𝑑𝑒 = ( 𝑝𝑟𝑖𝑐𝑒 * (𝑚𝑖𝑛𝑖𝑚𝑢𝑚_𝑛𝑖𝑔ℎ𝑡𝑠 + 1) * 𝑛𝑢𝑚𝑏𝑒𝑟_𝑜𝑓_𝑟𝑒𝑣𝑖𝑒𝑤𝑠 ) / 𝑎𝑣𝑎𝑖𝑙𝑎𝑏𝑖𝑙𝑖𝑡𝑦_365

In [ ]:
df_novo = df.loc[ (df['number_of_reviews'] > 0)  & (df['price'] > 0) & (df['availability_365'] > 0)]
df_novo['rentabilidade'] = ( df_novo['price'] * (( df_novo['minimum_nights'] + 1 ) * df_novo['number_of_reviews'] )) / np.sqrt(df_novo['availability_365'])
df_novo.sort_values('rentabilidade',ascending=False).reset_index().head()

## 45.Qual a região em que fica o melhor bairro para se adquirir um imóvel, visando a melhor rentabilidade média? Utilize como métrica o índice criado na questão anterior.

In [ ]:
df_novo[['rentabilidade','neighbourhood_group','neighbourhood']].groupby(['neighbourhood_group','neighbourhood']).mean().sort_values('rentabilidade',ascending=False)

## 46.Qual a região em que fica o pior bairro para se adquirir um imóvel, visando a melhor rentabilidade média?  Utilize como métrica o índice criado na questão 44.

In [ ]:
df_novo[['rentabilidade','neighbourhood_group','neighbourhood']].groupby(['neighbourhood_group','neighbourhood']).mean().sort_values('rentabilidade',ascending=True)

## 47.Levando em conta o bairro encontrado na questão anterior, verifique qual é o `id` do imóvel ativo que possui a pior rentabilidade desse bairro

In [ ]:
df_novo.loc[ (df_novo['neighbourhood_group'] == 'Staten Island' ) & ( df_novo['neighbourhood'] == 'Oakwood' )].sort_values( 'rentabilidade',ascending=True).reset_index()

## 48.Levando em conta o bairro encontrado na questão 45, verifique qual o id do imóvel ativo que possui a melhor rentabilidade desse bairro

In [ ]:
df_novo.loc[ df_novo['neighbourhood'] == 'Roosevelt Island' ].sort_values( 'rentabilidade' , ascending=False ).reset_index().head()

## 49.Caso eu, investidor, compre o imóvel da questão anterior com um investimento de 1.000.000,00, quantas vezes eu teria que locá-lo para ter o retorno do investimento feito? Utilize a fórmula abaixo para calcular o tempo de retorno do investimento 

𝑟𝑒𝑡𝑢𝑟𝑛_𝑖𝑛𝑣𝑒𝑠𝑡𝑚𝑒𝑛𝑡 =          𝑖𝑛𝑣𝑒𝑠𝑡𝑚𝑒𝑛𝑡  /  𝑝𝑟𝑖𝑐𝑒 * (𝑚𝑖𝑛𝑖𝑚𝑢𝑚_𝑛𝑖𝑔ℎ𝑡𝑠 + 1)

In [ ]:
# Contestar 
df_best_invest = df_novo.loc[df_novo['id']  == 3979611 ]
return_investiment = 1000000.00 / ( df_best_invest['price'] * ( df_best_invest['minimum_nights'] + 1))
print( return_investiment)

In [ ]:
df_best_invest

## 50. Se eu desejasse comprar um imóvel que esteja ativo em um dos bairros abaixo, qual seria o `id` do imóvel com a melhor rentabilidade dentre esses bairros? Utilize o índice calculado na questão 44.

In [ ]:
# Resposta 5295 
df1 = df_novo.loc[ df_novo['neighbourhood'] == 'East Harlem' ].max()
df2 = df_novo.loc[ df_novo['neighbourhood'] == 'Harlem' ].max()
df3 = df_novo.loc[ df_novo['neighbourhood'] == 'Midtown' ].max()
df4 = df_novo.loc[ df_novo['neighbourhood'] == 'Morningside Heights' ].max()
df5 = df_novo.loc[ df_novo['neighbourhood'] == 'Upper West Side' ].max()
df6 = df_novo.loc[ df_novo['neighbourhood'] == 'Upper East Side' ].max()

df_result = pd.concat([df1, df2, df3, df4, df5, df6], axis=1 ).T

df_result

In [ ]:
df_novo.loc[df_novo['id'] == 5295]